.header {
  display: flex;
  justify-content: space-between;
}

.labellabelLogo label {
  margin-left: 10px;
}

.selectLanguage {
  color: #4a90e2;
}

.searchHeader {
  color: #4a90e2;
  width: 20px;
  height: 20px;
}
