.footer {
  width: 100%;
  padding: 45px 45px 0;
}

.footerList {
  display: flex;
  padding: 0;
  list-style: none;
}

.footerList li {
  padding: 0 40px 0 0;
  font-size: 12px;
  color: #4a90e2;
}

.footerList li:last-child {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .footerList {
    flex-direction: column;
  }

  .footerList li:last-child {
    position: relative;
    right: inherit;
  }

  .footerList li {
    margin-bottom: 5px;
    font-size: 15px;
  }
}
